@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(127, 137, 137);
    font-family: 'Kanit', sans-serif;
}

.container {
    width: 30rem;
    height: 30rem;
    background-color: rgb(67, 64, 64);
    text-align: center;
    border-radius: 20px;
}

#submit-btn {
    width: 6rem;
    height: 2rem;
    font-family: 'Kanit', sans-serif;
    border: none;
    letter-spacing: 2px;
    
}